.root {
	-fx-background-color: #ebf5ff;
}

.settings-pane {
	-fx-padding: 0;
	-fx-background-insets: 0;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.settings-pane-vbox {
	-fx-padding: 5;
	-fx-spacing: 4;
	
	-fx-border-width: 1;
	-fx-border-color: #a0d6f2;
	-fx-border-radius: 10;
	
	-fx-background-radius: 10;
	-fx-background-color: #bae7ff;
}

.settings-pane-title {
	-fx-font-size: 16;
	-fx-padding: 0 0 0 1;
	
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.settings-box {
	-fx-padding: 0;
	-fx-spacing: 5;
	
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.settings-scroll-pane {
	-fx-fit-to-width: true;
	-fx-hbar-policy: never;
	
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.settings-scroll-pane > .viewport {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.supplier-chooser {
	-fx-padding: 5 10 10 10;
	
	-fx-border-style: solid;
	-fx-border-color: #62555e;
	-fx-border-radius: 4;
	-fx-border-width: 1;
	
	-fx-background-color: #ffe787;
	-fx-background-radius: 4;
	
}

.supplier-chooser > .vbox {
	-fx-spacing: 10;
}

.supplier-chooser .title {
	-fx-font-size: 18;
	-fx-text-alignment: center;
}

.supplier-chooser .scroll-pane {
	-fx-fit-to-width: true;
	
	-fx-background-insets: 0;
	-fx-padding: 0;
	
	-fx-border-color: #7c6c77;
}

.supplier-chooser .scroll-pane > .viewport {
	-fx-background-color: #ebf8b8;
	-fx-border-color: transparent;
}

.supplier-chooser .scroll-pane .flow-pane {
	-fx-hgap: 4;
	-fx-vgap: 4;
	
	-fx-padding: 5;
	
	-fx-border-color: transparent;
	-fx-background-color: transparent; /* uses the color of the scroll pane's viewport */
}

.supplier-chooser .bottom-box {
	-fx-padding: 5 0 0 0;
	-fx-spacing: 10;
}

.supplier-chooser .bottom-box > .button {
	
	-fx-background-insets: 0;
	-fx-background-radius: 2;
	-fx-background-color: #f6aa65;
	
	-fx-border-insets: 0;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-border-radius: 2;
	-fx-border-color: #7c6c77;
	
}

.supplier-chooser .bottom-box > .button:hover {

	-fx-background-color: #f29559;
	
}

.supplier-button {
	-fx-padding: 5;
	
	-fx-border-insets: 0;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-border-color: #f29559;
	-fx-border-radius: 4;
	
	-fx-background-insets: 0;
	-fx-background-color: #f9be70;
	-fx-background-radius: 4;
}

.supplier-button:hover {
	-fx-background-color: #f6aa65;
	-fx-border-color: #f08842;
}

.supplier-button:disabled {
	-fx-border-color: #f6aa65;
}